.row.vertical-align {
	display: flex;
	align-items: center;
}

.row-header {
  border-bottom: 1px solid #C4C8D3;
  color: #8992a3;
}

.row-data:nth-child(odd) {
  background: rgb(244,246,247);
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

@mixin border-right($some-number) {
  border-right: 1px solid red;
}

.tn-layout-2-column-container {
	display: flex;
	align-items: center;

	> * {
		display: inline-block;
		width: 50%;

		&:first-child {
			border-right: border();
		}
	}
}

.tn-layout-no-vertical-divider {
	border: 0 !important;
}
