.card-container {
  border-top: 2px solid black;
  margin-bottom: 25px;
  .see-all {
    color: #007bff;
    cursor: pointer;
  }
  .card {
    border: none;
  }
  > .row {
    overflow-y: auto;
    height: 400px;
  }
}
.img-round {
  border-radius: 50%;
  padding: 25px;
}
