 <section>
        <div class="card-container">
            <div class="m-b-10"><span class="f-w-600">{{cardTitle}}</span>
                <span class="see-all"><a (click)="cardLimit = cardList.length">see all</a></span>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <ng-content></ng-content>
            </div>
            <div class="row m-0">
                <div class="col-md-6 p-b-10" *ngFor="let card of cardList | slice:0:cardLimit">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img [ngClass]="{'img-round': cardTitle=='FACULTY'}"
                                src="https://placeholdit.imgix.net/~text?txtsize=38&txt=50%C3%9750&w=50&h=50" class="w-100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-block p-10">
                                    <h6>{{card.display_name}}</h6>
                                    <div>{{card.academic_title_ss[0]}}</div>
                                    <div>{{card.office_address_s}}</div>
                                    <div>{{card.school_display_ss}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>