@import '../../styles/vars';

.menu-container {
  background-color: $tufts-softwhite-l43;
  position: fixed;
  height: 100vh;
  width: $menu-width;
  box-shadow: none;
  z-index: 100;
  padding-top: 10px;
}

.tn-menu {
  ul {
    li {
      padding: 6px 10px;
      a {
        color: black;
        font-weight: 500;
        &:hover {
          background-color: #385a91 !important;
          color: #ffffff;
        }
      }
    }
  }
}
